<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <ul class="tabrow">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/user/list" routerLinkActive="active">User</a></li>
    
  </ul>
    
  <router-outlet></router-outlet>
  <app-main-container></app-main-container>
  User Name : <input type="text" (keyup)="onNameKeyUP($event)" >
  <button (click)="getProfile()"> Get profile </button>
  <br>
  <div *ngIf="found">
    <span> {{name}}'s is age is {{age}} </span>
  </div>

  -----------------------------
<<form novalidate class="container" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" >
  <input type="text" name="First Name" ngModel> <br>
  <input type="text" name="Last Name" ngModel> <br>
  
  <select name="Languages" ngModel>
    <option value="Java "> Java </option>
    <option value="Angular 5 "> Angular 5 </option>
    <option value="Swift "> Swift </option>
  </select>

  <input type="submit" value="submit">

</form>
  <!-- <button (click)="postProfile()"> Post profile </button> -->
  <br/>
  </div>
